body {
  background-color: #EBF3E8 ;
  font-family: "Open Sans", sans-serif;
}

main {
  background-color: #EBF3E8 ;
  padding: 1rem;
}

header {
  background-color: #B2C8BA ;
  padding: 10px 20px;
  border-radius: 20px;
}

h1, footer {
  font-family: "Poetsen One", sans-serif;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  height: auto;
  object-fit: contain;
  margin: 10px 30px;

  @media (max-width: 600px) {
    width: 30%;
  }

}

footer {
  background-color: #B2C8BA ;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.farmor-footer {
  width: 5rem;
}